/* No CSS *//*# sourceMappingURL=create.component.css.map */

.browseInput {
    background: rgba(253, 81, 140, 1);
    border: 1px solid rgba(253, 81, 140, 1);
    color: white;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    margin-left: 6px;
  }
  
  .browseInput[disabled] {
    border: 1px solid rgba(253, 81, 140, 0.35);
    color: rgba(253, 81, 140, 0.35);
  }
  
  .custom-file-input{
      display: inline-block;
      overflow: hidden;
      position: relative;
      padding:10px;
  }
  .custom-file-input input[type="file"]{
      width: 100%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      zoom: 1;  /* Fix for IE7 */
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
  }
  .custom-file-input input[type="text"]{
      border-bottom: 1px solid rgba(0, 0, 0, 0.42) ! important;
      border: 0px;
      height: 32px;
      margin-left: 1px;
      width: 22.5rem;
  }
  .custom-file-input input[type="text"].addredborder{
      border-bottom: 1px solid #f44336 ! important;
      border: 0px;
      height: 32px;
      margin-left: 1px;
      width: 22.5rem;
  }
  .mat-form-field{
      padding:10px;
  }
  .custom-file-input span{
      display:inline;
      position:absolute; 
      padding-top: 9px;
  }
  
  .fileuploadcontainer {
     height: 105px;
     padding: 2rem;
     border: dashed 1px #FF4081;
     background-color: #f1b5c9;
     position: relative;
     display: flex;
     border-radius: 5px;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     margin-left: 8px;
     margin-top: 10px;
     width:25%;
  }
  .fileuploadcontainer input {
     opacity: 0;
     position: absolute;
     z-index: 2;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
  }
   .fileuploadcontainer label {
      color: #FF4081;
      width: 148px;
      height: 44px;
      border-radius: 5px;
      background: #FFFFFF;
      padding: 10px;
      border: 1px solid #CCCCCC;
      /*display: flex;*/
      font-size: 12px;
      font-weight: 200;
  }
  .fileuploadcontainer h3 {
     font-size: 16px;
     color: #FF4081;
     padding-left: 3px;
     padding-top: 7px;
     font-weight: 600;
  }
  
  .fileover {
     animation: shake 1s;
     animation-iteration-count: infinite;
  }
  .files-list {
     margin-top: 1.5rem;
  }
   .files-list .single-file {
     display: flex;
     padding: 0.5rem;
     justify-content: space-between;
     align-items: center;
     border: dashed 1px #FF4081;
     margin-bottom: 1rem;
     display: flex;
     flex-grow: 1;
     margin-left: 8px;
     width:25%;
  }
  .files-list .single-file .preview {
     display: flex;
     margin-left: 0.5rem;
     cursor: pointer;
     align-self: flex-end;
  }
   .files-list .single-file .delete {
     display: flex;
     margin-left: 0.5rem;
     cursor: pointer;
     align-self: flex-end;
  }
   .files-list .single-file .name {
     font-size: 14px;
     font-weight: 500;
     color: #353f4a;
     margin: 0;
  }
   .files-list .single-file .size {
     font-size: 12px;
     font-weight: 500;
     color: #a4a4a4;
     margin: 0;
     margin-bottom: 0.25rem;
  }
   .files-list .single-file .info {
     width: 100%;
  }
  
  .preview-heading{
    color: #505050;
    font-weight: 600;
  }
  
  .labelfileupload {
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.54);
  }