<!-- <div mat-dialog-title>{{data.case === 'MESSAGE'? 'Error' : ''}}{{data.title}}</div> -->
<!-- <div mat-dialog-content>{{data.message}}</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>{{data.btnTxt}}</button>
</div> -->

<!-- <div mat-dialog-title>{{data.case === 'MESSAGE'? 'Error' : ''}}{{data.title}}</div> -->
<div class="pop-up" >
    <div class="pop-up-header">
      <b mat-dialog-title>{{ data.title }}</b>
      <div mat-dialog-content>
        <p style="white-space: pre-line">{{ data.message }}</p>
      </div>
    </div>
    <div mat-dialog-actions class="pop-up-footer">
      <span
        ><button mat-button (click)="onNoClick()" cdkFocusInitial>{{data.btnTxt}}</button></span
      >
    </div>
  </div>