<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ADMIN-UI-AUTOMATION-RUN">
	<parameter name="scenarioFilter" value="random" />
	<parameter name="stopOnError" value="false" />
	<test name="ADMIN-UI-AUTOMATION" group-by-instances="true">
	
		<classes>

			
			<class name="io.mosip.testrig.adminui.testcase.BulkUploadTest" />
		
	<class name="io.mosip.testrig.adminui.testcase.CenterTest" />
			<class name="io.mosip.testrig.adminui.testcase.CenterTypeTest" />
			<class name="io.mosip.testrig.adminui.testcase.DeviceSpecificationTest" />
			<class name="io.mosip.testrig.adminui.testcase.DeviceTest" />
			<class name="io.mosip.testrig.adminui.testcase.DeviceTypesTest" />
			<class name="io.mosip.testrig.adminui.testcase.DocumentCategoriesTest" />
			<class name="io.mosip.testrig.adminui.testcase.DocumentTypes" />
			<class name="io.mosip.testrig.adminui.testcase.BlockListTest" />
			<class name="io.mosip.testrig.adminui.testcase.DynamicFieldTest" />
			<class name="io.mosip.testrig.adminui.testcase.HolidaysTest" />
			<class name="io.mosip.testrig.adminui.testcase.MachineSpecificationTest" />
			<class name="io.mosip.testrig.adminui.testcase.MachineTest" />
			<class name="io.mosip.testrig.adminui.testcase.MachineTypesTest" />
			<class name="io.mosip.testrig.adminui.testcase.TemplateTest" />
			

			
		</classes>
	</test>
		<listeners>
		
	

		<listener
			  class-name="io.mosip.testrig.adminui.utility.EmailableReport" />
			
	</listeners>

</suite>